/* For mobile devices */
@media screen and (max-width: 375px) {
    .logo-container {
        display: flex;
        justify-content: center;
    }

    .logo-container img {
        margin: 10% !important;
    }

    .tip-calculator-container {
        background-color: white !important;
        border-radius: 20px;
        display: flex;
        flex-direction: column !important;
        height: 90vh !important;
        padding: 30px 25px !important;
        width: 100vw !important;
    }

    .input-container {
        display: flex;
        flex-direction: column;
    }

    .btn-primary {
        background-color: hsl(183, 100%, 15%);
        border: none;
        font-family: 'Space Mono';
        font-size: large;
        font-weight: 500; 
        height: 50px;
        /* margin: 8px !important; */
        width:  148px !important;
    }

    #custom-tip-input {
        color: hsl(184, 14%, 43%) !important;
        cursor: pointer;
        height: 50px;
        margin: 5px;
        text-align: center;
        width: 45% !important;
    }

    .form-control {
        background-color:hsl(189, 41%, 97%);
        border: none;
        color: hsl(184, 14%, 43%) !important;
        font-family: 'Space Mono';
        font-size: 24px;
        font-weight: 700;
        margin-top: 5px;
        text-align: right;
        width: 99% !important;
    }

    .display-container {
        background-color: hsl(183, 100%, 15%);
        border-radius: 20px;
        display: flex;
        flex: 1 auto;
        flex-direction: column;
        width: 86vw !important;
    }
}

/* For desktop view */
body {
    background-color:  hsl(185, 41%, 84%);
    overflow: hidden;
}

/* Splitter logo  */
.logo-container {
    display: flex;
    justify-content: center;
}

.logo-container img {
    margin: 5%;
}

.tip-calculator-container {
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0 auto;
    padding: 35px;
    width: 60vw;
    height: 60vh;
}

.input-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.bill-label, .tip-label, .number-of-people-label {
    color: hsl(184, 14%, 43%);
    display: flex;
    font-family: 'Space Mono';
    font-weight: 500;
}

.tip-selection-container {
    margin-bottom: 20px;
}

.tip-label {
    margin-bottom: 5px;
}

/* images in formfield */ 
.bill-portion-container img, .number-of-people-container img {
    position: relative;
    left: 20px;
    bottom: 40px; 
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    position: relative;
    right: 5px;
}

.btn-primary {
    background-color: hsl(183, 100%, 15%);
    border: none;
    font-family: 'Space Mono';
    font-size: large;
    font-weight: 500; 
    height: 50px;
    margin: 7px;
    width: 27%;
}

.btn-primary:focus, .btn-primary:hover {
    background-color: hsl(172, 67%, 45%);
    box-shadow: none !important;
    color: hsl(183, 100%, 15%);
    cursor: pointer;
    outline: none !important;
}

#custom-tip-input {
    color: hsl(184, 14%, 43%) !important;
    cursor: pointer;
    height: 50px;
    margin: 7px;
    text-align: center;
    width: 27%;
}

/* Removes arrows in Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/* Removes arrows in Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.form-control {
    background-color:hsl(189, 41%, 97%);
    border: none;
    color: hsl(184, 14%, 43%) !important;
    font-family: 'Space Mono';
    font-size: 24px;
    font-weight: 700;
    margin-top: 5px;
    text-align: right;
    width: 88%;
}

.form-control:focus, #custom-tip-input:focus {
    border: 2px;
    border-color:hsl(172, 67%, 45%);
    border-style: solid;
    color: hsl(183, 100%, 15%) !important;
    cursor: pointer;
    outline: none;
    box-shadow: none !important;
}

.number-of-people-container {
    margin-top: 10px;
}

.display-container {
    background-color: hsl(183, 100%, 15%);
    border-radius: 20px;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    height: 50vh;
    padding: 30px;
    width: 40vw;
}

.tip-amount-per-person-label, .total-amount-per-person-label {
    color:hsl(189, 41%, 97%);
    font-family: 'Space Mono';
    font-size: 16px;
    padding-top: 12px;
}

.tip-amount-per-person-sublabel, .total-amount-per-person-sublabel {
    color:hsl(184, 14%, 56%);
    font-family: 'Space Mono';
    font-size: 15px;
    font-weight: 500;
}

#tip-amount-per-person-display, #total-amount-per-person-display { 
    color: hsl(172, 67%, 45%);
    display: flex;
    font-family: 'Space Mono';
    font-size: 46px;
    font-weight: 900;
    justify-content: center;
}

.reset-button-row {
    align-content: center;
    display: flex;
    justify-content: center;
    margin-top: 25%;
}

.btn-secondary {
    background-color: hsl(172, 67%, 45%);
    border-style: none;
    color: hsl(183, 100%, 15%);
    font-family: 'Space Mono';
    font-size: large;
    font-weight: 700;
    height: 55px;
    position: relative;
    top: 20px;
    width: 100%;
}

.btn-secondary:hover {
    background-color:  hsl(185, 41%, 84%) !important;
    border-style: none;
    color: hsl(183, 100%, 15%);
    cursor: pointer;

}